# vim: set syntax=yaml:

---
  extends:
    - "eslint:recommended"
  rules:
    # http://eslint.org/docs/rules/comma-dangle
    comma-dangle:
      - 2
      - "always-multiline"
    # http://eslint.org/docs/rules/no-cond-assign
    no-cond-assign: 1
    # http://eslint.org/docs/rules/no-console
    no-console: 1
    # http://eslint.org/docs/rules/no-constant-condition
    no-constant-condition: 2
    # http://eslint.org/docs/rules/no-control-regex
    no-control-regex: 2
    # http://eslint.org/docs/rules/no-debugger
    no-debugger: 2
    # http://eslint.org/docs/rules/no-dupe-args
    no-dupe-args: 2
    # http://eslint.org/docs/rules/no-dupe-args
    no-dupe-keys: 2
    # http://eslint.org/docs/rules/no-duplicate-case
    no-duplicate-case: 2
    # http://eslint.org/docs/rules/no-empty-character-class
    no-empty-character-class: 2
    # http://eslint.org/docs/rules/no-empty
    no-empty: 2
    # http://eslint.org/docs/rules/no-ex-assign
    no-ex-assign: 2
    # http://eslint.org/docs/rules/no-extra-boolean-cast
    no-extra-boolean-cast: 2
    # http://eslint.org/docs/rules/no-extra-parens
    no-extra-parens: 0
    # http://eslint.org/docs/rules/no-extra-semi
    no-extra-semi: 2
    # http://eslint.org/docs/rules/no-func-assign
    no-func-assign: 2
    # http://eslint.org/docs/rules/no-inner-declarations
    no-inner-declarations: 0
    # http://eslint.org/docs/rules/no-invalid-regexp
    no-invalid-regexp: 2
    # http://eslint.org/docs/rules/no-irregular-whitespace
    no-irregular-whitespace: 2
    # http://eslint.org/docs/rules/no-multiple-empty-lines
    no-multiple-empty-lines: [2, { max: 1 }]
    # http://eslint.org/docs/rules/no-negated-in-lhs
    no-negated-in-lhs: 2
    # http://eslint.org/docs/rules/no-obj-calls
    no-obj-calls: 2
    # http://eslint.org/docs/rules/no-regex-spaces
    no-regex-spaces: 2
    # http://eslint.org/docs/rules/no-sparse-arrays
    no-sparse-arrays: 2
    # http://eslint.org/docs/rules/no-trailing-spaces
    no-trailing-spaces: 2
    # http://eslint.org/docs/rules/no-unexpected-multiline
    no-unexpected-multiline: 2
    # http://eslint.org/docs/rules/no-unreachable
    no-unreachable: 2
    # http://eslint.org/docs/rules/use-isnan
    use-isnan: 2
    # http://eslint.org/docs/rules/valid-jsdoc
    valid-jsdoc: 0
    # http://eslint.org/docs/rules/valid-typeof
    valid-typeof: 2
    # http://eslint.org/docs/rules/accessor-pairs
    accessor-pairs: 0
    # http://eslint.org/docs/rules/block-scoped-var
    block-scoped-var: 1
    # http://eslint.org/docs/rules/complexity
    complexity:
      - 2
      - 15
    # http://eslint.org/docs/rules/consistent-return
    consistent-return: 2
    # http://eslint.org/docs/rules/curly
    curly: 2
    # http://eslint.org/docs/rules/default-case
    default-case: 2
    # http://eslint.org/docs/rules/dot-location
    dot-location:
      - 2
      - object
    # http://eslint.org/docs/rules/dot-notation
    dot-notation:
      - 1
    # http://eslint.org/docs/rules/eqeqeq
    eqeqeq:
      - 2
      - smart
    # http://eslint.org/docs/rules/guard-for-in
    guard-for-in: 2
    # http://eslint.org/docs/rules/no-caller
    no-caller: 2
    # http://eslint.org/docs/rules/no-case-declarations
    # no-case-declarations: 2
    # http://eslint.org/docs/rules/no-div-regex
    no-div-regex: 2
    # http://eslint.org/docs/rules/no-else-return
    no-else-return: 0
    # http://eslint.org/docs/rules/no-empty-pattern
    # no-empty-pattern: 2
    # http://eslint.org/docs/rules/no-eval
    no-eval: 2
    # http://eslint.org/docs/rules/no-eval
    no-extend-native: 2
    # http://eslint.org/docs/rules/no-extra-bind
    no-extra-bind: 1
    # http://eslint.org/docs/rules/no-fallthrough
    no-fallthrough: 1
    # http://eslint.org/docs/rules/no-floating-decimal
    no-floating-decimal: 2
    # http://eslint.org/docs/rules/no-implicit-coercion
    no-implicit-coercion: 0
    # http://eslint.org/docs/rules/no-implied-eval
    no-implied-eval: 2
    # http://eslint.org/docs/rules/no-iterator
    no-iterator: 2
    # http://eslint.org/docs/rules/no-labels
    no-labels: 2
    # http://eslint.org/docs/rules/no-lone-blocks
    no-lone-blocks: 0
    # http://eslint.org/docs/rules/no-loop-func
    no-loop-func: 2
    # http://eslint.org/docs/rules/no-magic-numbers
    no-magic-numbers: 0
    # http://eslint.org/docs/rules/no-multi-spaces
    no-multi-spaces: 2
    # http://eslint.org/docs/rules/no-multi-str
    no-multi-str: 1
    # http://eslint.org/docs/rules/no-native-reassign
    no-native-reassign: 2
    # http://eslint.org/docs/rules/no-new-func
    no-new-func: 2
    # http://eslint.org/docs/rules/no-new-wrappers
    no-new-wrappers: 2
    # http://eslint.org/docs/rules/no-new
    no-new: 1
    # http://eslint.org/docs/rules/no-octal-escape
    no-octal-escape: 2
    # http://eslint.org/docs/rules/no-octal
    no-octal: 2
    # http://eslint.org/docs/rules/no-param-reassign
    no-param-reassign: 2
    # http://eslint.org/docs/rules/no-process-env
    no-process-env: 0
    # http://eslint.org/docs/rules/no-proto
    no-proto: 2
    # http://eslint.org/docs/rules/no-redeclare
    no-redeclare: 1
    # http://eslint.org/docs/rules/no-return-assign
    no-return-assign: 1
    # http://eslint.org/docs/rules/no-script-url
    no-script-url: 1
    # http://eslint.org/docs/rules/no-self-compare
    no-self-compare: 2
    # http://eslint.org/docs/rules/no-sequences
    no-sequences: 1
    # http://eslint.org/docs/rules/no-throw-literal
    no-throw-literal: 2
    # http://eslint.org/docs/rules/no-unused-expressions
    no-unused-expressions: [2, { allowShortCircuit: true, allowTernary: true}]
    # http://eslint.org/docs/rules/no-unused-vars
    no-unused-vars: [2, { argsIgnorePattern: "^_" }]
    # http://eslint.org/docs/rules/no-useless-call
    no-useless-call: 2
    # http://eslint.org/docs/rules/no-useless-concat
    no-useless-concat: 2
    # http://eslint.org/docs/rules/no-void
    no-void: 1
    # http://eslint.org/docs/rules/no-warning-comments
    no-warning-comments: 1
    # http://eslint.org/docs/rules/no-with
    no-with: 2
    # http://eslint.org/docs/rules/radix
    radix: 2
    # http://eslint.org/docs/rules/vars-on-top
    vars-on-top: 0
    # http://eslint.org/docs/rules/wrap-iife
    wrap-iife: 2
    # http://eslint.org/docs/rules/yoda
    yoda: 0
    # http://eslint.org/docs/rules/no-shadow
    no-shadow: 1

    # STYLE

    # http://eslint.org/docs/rules/array-bracket-spacing
    array-bracket-spacing: [2, "never"]
    # http://eslint.org/docs/rules/block-spacing
    block-spacing: 2
    # http://eslint.org/docs/rules/brace-style
    brace-style: [2, "1tbs", { allowSingleLine: true }]
    # http://eslint.org/docs/rules/comma-spacing
    comma-spacing: [2, { before: false, after: true }]
    # http://eslint.org/docs/rules/computed-property-spacing
    computed-property-spacing:
      - 2
      - never
    # http://eslint.org/docs/rules/func-names
    func-names: 1
    indent:
      - 2
      - 2
    # http://eslint.org/docs/rules/linebreak-style
    linebreak-style:
      - 2
      - "unix"
    # http://eslint.org/docs/rules/jsx-quotes
    jsx-quotes:
      - 2
      - prefer-double
    # http://eslint.org/docs/rules/key-spacing
    key-spacing: [2, { beforeColon: false, afterColon: true }]
    # http://eslint.org/docs/rules/max-depth
    max-depth:
      - 1
      - 4
    # http://eslint.org/docs/rules/max-len
    max-len:
      - 1
      - 100
      - 2
    # http://eslint.org/docs/rules/max-params
    max-params:
      - 1
      - 3
    # http://eslint.org/docs/rules/new-cap
    new-cap: 2
    # http://eslint.org/docs/rules/new-parens
    new-parens: 2
    # http://eslint.org/docs/rules/no-bitwise
    no-bitwise: 2
    # http://eslint.org/docs/rules/no-lonely-if
    no-lonely-if: 1
    # http://eslint.org/docs/rules/no-plusplus
    no-plusplus: 1
    # http://eslint.org/docs/rules/no-use-before-define
    no-use-before-define:
      - 2
      - "nofunc"
    # http://eslint.org/docs/rules/no-spaced-func
    no-spaced-func: 2
    # http://eslint.org/docs/rules/object-curly-spacing
    object-curly-spacing:
      - 2
      - always
    # http://eslint.org/docs/rules/quotes
    quotes:
      - 2
      - "double"
      - "avoid-escape"
    # http://eslint.org/docs/rules/semi
    semi:
      - 1
      - "never"
    # http://eslint.org/docs/rules/space-after-keywords
    space-after-keywords:
      - 2
      - always
    # http://eslint.org/docs/rules/space-before-blocks
    space-before-blocks:
      - 2
      - always
    # http://eslint.org/docs/rules/space-before-function-paren
    space-before-function-paren:
      - 2
      - never
    # http://eslint.org/docs/rules/space-before-keywords
    space-before-keywords:
      - 2
      - always
    # http://eslint.org/docs/rules/space-in-parens
    space-in-parens:
      - 2
      - never
    # http://eslint.org/docs/rules/space-infix-ops
    space-infix-ops: 2
    # http://eslint.org/docs/rules/space-return-throw-case
    space-return-throw-case: 2
    # http://eslint.org/docs/rules/spaced-comment
    spaced-comment:
      - 2
      - always
      -
        markers:
          - "="

    # ES6
    # http://eslint.org/docs/rules/arrow-parens
    arrow-parens:
      - 2
      - always
    # http://eslint.org/docs/rules/arrow-spacing
    arrow-spacing: [2, { before: true, after: true }]
    # http://eslint.org/docs/rules/constructor-super
    constructor-super: 2
    # http://eslint.org/docs/rules/no-arrow-condition
    # no-arrow-condition: 2
    # http://eslint.org/docs/rules/no-const-assign
    no-const-assign: 2
    # http://eslint.org/docs/rules/no-var
    no-var: 2
    # http://eslint.org/docs/rules/object-shorthand
    object-shorthand: 1
    # http://eslint.org/docs/rules/prefer-const
    prefer-const: 1
    # http://eslint.org/docs/rules/prefer-spread
    prefer-spread: 1
    # http://eslint.org/docs/rules/prefer-template
    prefer-template: 1

    # React

    react/react-in-jsx-scope: 2
    react/jsx-uses-react: [1]
    react/prop-types: 2
    react/sort-comp:
      - 1
      -
        order:
          - "lifecycle"
          - "/^handle.+$/"
          - "everything-else"
          - "/^get.+$/"
          - "/^render.+$/"
          - "render"
    react/jsx-key: 2
    react/jsx-no-bind: [2, { allowArrowFunctions: true }]
    react/jsx-no-duplicate-props: 2
    react/jsx-no-undef: 2
    react/jsx-uses-vars: 2
    react/jsx-pascal-case: 2
    react/no-multi-comp: 2
    react/prefer-es6-class:
      - 2
      - "never"
    react/wrap-multilines: 2
  env:
    es6: true
    browser: true
    mocha: true
    node: true
    builtin: true
  ecmaFeatures:
    modules: true
    jsx: true
    experimentalObjectRestSpread: true
  plugins:
    - "react"
  parser: "babel-eslint"
  globals:
    Turbolinks: true
    INTERFACES: true
    Helpdesk: true
    PersonEditorModal: true
    AvatarEditorModal: true
    Modernizr: true
    InterfacesIcons: true
    google: true